<!DOCTYPE html>
<html>
  
<head>

  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js" integrity="sha256-IZcV0C0I1dS0/ygfO3lToRPhj+1PbFqYtK/cMb/cJLY=" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css" integrity="sha256-Gxk756LCcjwUNjIrkNrXNqY1Q+EW/Tct/IuGRw6Q1Mo=" crossorigin="anonymous" />

</head>
<body>

  <div class="title-container text-center">
    <h1>Open Sesame</h1>
  </div>

  <hr>

  <section id="servo">
    <div class="row">
      <div class="columns small-10 small-centered  text-center">
        

        
        <h3>Light State: <span id="light-state">Off</span></h3>

        <div class="status-container">
          <div class="light-status"></div>
        </div>

        <div class="light">
          <button class="button" id="servo-on">Light On</button>
          <button class="button" id="servo-off">Light Off</button>
        </div>

      </div>
    </div>
  </section>


  <section id="relay">

    <div class="row">
      <div class="columns small-10 small-centered text-center">
        
        <h3>Door State: <span id="relay-state">Closed</span></h3>

        <div class="status-container">
          <div class="relay-status"></div>
        </div>
        
        <div class="door">
          <button class="button" id="relay-on">Door Open</button>
          <button class="button" id="relay-off">Door Close</button>
        </div>

      </div>
    </div>

  </section>

  <section id="rail">

    <div class="row">
      <div class="columns small-10 small-centered text-center">
        
        <h3>Rail Info</h3>

        <h4>Choose Station</h4>
        <select id="station-select">
          <option value="">Select Station</option>
          <option data-station-id="80410" value="80410">ChinaTown</option>
          <option data-station-id="80413" value="80413">SouthWest Musuem</option>
        </select>
        
        <div class="button-container">
          <button class="button" id="get-times">Get Info</button>
        </div>

        <ul id="stop-info">
          
        </ul>

      </div>
    </div>


  </section>


  <footer>
  <script type="text/javascript" src="/javascripts/node-home.js"> </script>
    
  </footer>


</body>

</html>
