<!DOCTYPE html>
<html>
  
<head>


  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
  <h1>Open Sesame</h1>

  <div id="servo">
    
    <h3>Light State: <span id="light-state">Off</span></h3>
    <div class="light-status"></div>

    <div class="light">
      <button id="servo-on">Light On</button>
      <button id="servo-off">Light Off</button>
    </div>
  </div>

  <div class="relay">


    <h3>Door State: <span id="relay-state">Closed</span></h3>
    <div class="relay-status"></div>
    
    <div class="door">
      <button id="relay-on">Door Open</button>
      <button id="relay-off">Door Close</button>
    </div>

  </div>


</body>


<footer>
<script type="text/javascript" src="/javascripts/node-home.js"> </script>
  
</footer>



</html>
