body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title-container { margin-bottom: 2rem; }


#color-container div {height: 10rem; width: 10rem; }

#red  {background-color: red; }
#yellow  {background-color: yellow; }
#green  {background-color: green; }